header{
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: #2C2C2C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#div-title .menu-item {
    color: white;
    text-decoration: none;
}

#div-title, #menu .menu-item{
    text-transform: uppercase;
    color: white;
    margin: 0 61px;
}

#div-title{
    font-size: 1.1em;
    font-weight: bold;
}

#menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

#menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;
}

#profile{
    display: none;
}
#profile.show {
    display: flex;
}
#login.hide {
    display: none;
}

#menu .menu-item{
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
#menu .menu-item:hover{
    color: #A8D5BA;
    text-decoration: underline;
}


@media(max-width: 600px){
    header {
        height: auto;
        flex-wrap: wrap;
        align-items: flex-start;
}   

    #div-title{
        margin-left: 10px;
        align-self: center;
    }

    #menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #2C2C2C;
        z-index: 2;
        flex-direction: column;
        width: 100%;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        gap: 10px;
        padding: 0 0 1vh 0;
        padding: 0 0 10px 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    #menu.show {
        display: flex;
    }

    #menu .menu-item {
        margin: 10px 0;
    }

    #menu:last-child {
        margin-bottom: 20px;
    }

    #menu-toggle {
        display: block;
        margin: 10px;
        position: relative;
        z-index: 1100; /* acima do menu, se necessário */
    }

}
